<p>
  <h3>What am I trying to achieve here ??</h3>
<div>
Some people are internally motivated while some tend to be pushed by external things .For some an Audi is the reward at the end , while for some money is the ultimate motivator .I am a little different though .. I have been a productivity disciple for a long time but sometimes I have not been able to execute my plans. I consider action to be very important and I found that the <%= link_to 'Pomodoro Technique','http://www.pomodorotechnique.com/'%> helped me to focus on action whenever I have used it .The challenge then was to do this more often so that I could complete more projects and in turn achieve my purpose in life .
<br> <br> 
<p>At the start of 2013 year I had done a Calendar project which helped raise funds for <%= link_to 'Oscar India','http://www.oscar-india.org' %> and I thought I should do more for this wonderful organization . Hence I came upon this idea wherein I expect more from myself and then motivate myself to keep taking action. 
</p> 
</div>

<div>
	<b>PS:</b> I completed writing the about page in one pomodoro :P
</div>
</p>