<p>
  <h3>What am I trying to achieve here ?</h3>
<div>
<p>At the start of 2013 year I had done a Calendar project which helped raise funds for <%= link_to 'Oscar India','http://www.oscar-india.org' %> and I thought I should do more for this wonderful organization .  
</p>
<p>
Right now I am earning enough money to lead a decent life. I could do with more money but it is not a big motivator for me. Even having Audi as a reward might not push me to work harder. But trying to help OSCAR India in my small way by completing pomodoros (read : take action) seems to me like an awesome idea.
</p>
<h3>Why Pomodoro technique ?</h3>
I consider action to be very important and I found that the <%= link_to 'Pomodoro Technique','http://www.pomodorotechnique.com/'%> helped me to focus whenever I have used it .The challenge then was to do this more often so that I could complete more projects and in turn achieve my purpose in life .
<br>    
</div>
</p>

<i>"Make no little plans; they have no magic to stir men's blood." </i>- Daniel Burnham