<div id="barChart"></div>

<div class="center" ><strong>Pomodoros completed last week  </strong></div>
  <!--[if IE]><script src="excanvas.js"></script><![endif]-->
  <script src="html5-canvas-bar-graph.js"></script>
  <script>(function () {
  
    function createCanvas(divName) {
      
      var div = document.getElementById(divName);
      var canvas = document.createElement('canvas');
      div.appendChild(canvas);
      if (typeof G_vmlCanvasManager != 'undefined') {
        canvas = G_vmlCanvasManager.initElement(canvas);
      } 
      var ctx = canvas.getContext("2d");
      return ctx;
    }
    
    var ctx = createCanvas("barChart");
    
    var graph = new BarGraph(ctx);
    graph.maxValue = 10;
    graph.margin = 5;
    graph.colors = ["#CE0000", "#EF2323", "#D20202", "#A70000", "#850000", "#740000", "#530000"];
    graph.xAxisLabelArr = ["Mon","Tue","Wed","Thurs","Fri", "Sat", "Sun"];
    graph.update([5,4, 6,4, 0,1, 5]);

  }());</script>
  </br>

<table  class="table table-striped table-bordered table-condensed">
  <tr>
    <th>Week</th>
    <th colspan="4">Pomodoros Completed</th>
  </tr>
  <tr>
	  <td> 38 </td>
    <td>25</td>
  </tr> 
</table>



  

