<p>For every pomodoro I complete I donate Rs. 5 to <%= link_to 'Oscar India','http://www.oscar-india.org' %></p>

<table  class="table table-striped table-bordered table-condensed">
  <tr>
    <th>Pomodoros Completed</th>
    <th colspan="4">Money Donated (in rupees) </th>
  </tr>
  <tr>
  	<th>Week</th>
    <th>Week</th>
    <th>Month</th>
    <th>Year</th>
    <th>Lifetime</th>
  </tr>
  <tr>
    <td>10</td>
    <td>100</td>
    <td>100</td>
    <td>100</td>
    <td>100</td>
  </tr>
    <tr>
    <td><div class="progress progress-striped">
  <div class="bar" style="width: 10%;">10</div>
</div></td>
    <td><div class="progress">
  <div class="bar" style="width: 60%;">60</div>
</div></td>
    <td><div class="progress">
  <div class="bar" style="width: 60%;">60</div>
</div></td>
    <td><div class="progress">
  <div class="bar" style="width: 60%;">40</div>
</div></td>
    <td><div class="progress">
  <div class="bar" style="width: 60%;">30</div>
</div></td>
  </tr>
</table>

